/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used

Text Color (black): rgba(0, 0, 0, 0.3);
background Color (pure white): white;
Primary Color: #357b70;
Secondary Color: #e0b354;
 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400px;
  font-size: 16px;

  /* Sets the font size to 16px */

  line-height: 1.5;

  /* Sets the line-height to 1.6 */
  color: #2b2b2b;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: #2b2b2b;
}

a:visited {
  /* visited link */
  color: #a88332;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #357b70;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #e0b354;
  color: #fff !important;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid #2b2b2b;
  -webkit-transition: 0.5s opacity, 1s background-color;
  -o-transition: 0.5s opacity, 1s background-color;
  transition: 0.5s opacity, 1s background-color;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #e0b354;
  color: #fff !important;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid #2b2b2b;
  -webkit-transition: 0.5s opacity, 1s background-color;
  -o-transition: 0.5s opacity, 1s background-color;
  transition: 0.5s opacity, 1s background-color;
}

button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  background-color: #a88332;
}

button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  background-color: #a88332;
}

.button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  background-color: #a88332;
}

.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  background-color: #a88332;
}

.button__secondary {
  background-color: #e0b354;
  color: #fff;
}

.navigation-list__item--active {
  text-decoration: none;
}

#submit-button {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #357b70;
  color: #fff;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid #2b2b2b;
}

#submit-button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.5;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile__portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  min-width: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.profile {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about-me {
  width: 100%;
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-bottom: 0.5px solid #2b2b2b;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-bottom: 10px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

section {
  margin: 20px;
}

main {
  margin: 20px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;

    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: #e6c06f;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
  }

  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }

  .form {
    display: -ms-grid;
    display: grid;

    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    margin: 0;
  }

  .form__item {
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
  }
}

/* Responsive design for all devices  */

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.berlin-illustration {
  margin-top: 20px;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

/*
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
Using the following option to keep code shorter */

.sun {
  -webkit-animation: 4s color-change infinite alternate ease-in-out;
  animation: 4s color-change infinite alternate ease-in-out;
}

@-webkit-keyframes bird-move {
  from {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}

@keyframes bird-move {
  from {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  to {
    -webkit-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
  }
}

.bird-big {
  -webkit-animation: 10s bird-move infinite linear;
  animation: 10s bird-move infinite linear;
}

@-webkit-keyframes bird-move-reverse {
  from {
    -webkit-transform: translate(50px, 20px);
    transform: translate(50px, 20px);
  }

  to {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
}

@keyframes bird-move-reverse {
  from {
    -webkit-transform: translate(50px, 20px);
    transform: translate(50px, 20px);
  }

  to {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
}

.bird-small {
  -webkit-animation: 10s bird-move-reverse infinite linear;
  animation: 10s bird-move-reverse infinite linear;
}

#fav-landscape {
  margin-top: 40px;
}

footer {
  border-top: 1px solid #2b2b2b;
}
